{% extends 'base.html' %}

{% load static django_vite %}

{% block content %}
<div id="{{ bundle_name }}"
  {% if storage_resource_id %}data-storage-resource-id="{{ storage_resource_id }}"{% endif %}
  {% if storage_path is not None %}data-storage-path="{{ storage_path }}"{% endif %}
  {% if compute_resource_id %}data-compute-resource-id="{{ compute_resource_id }}"{% endif %}
  {% if gateway_id %}data-gateway-id="{{ gateway_id }}"{% endif %}
  {% if portal_title %}data-portal-title="{{ portal_title }}"{% endif %}
  {% if is_gateway_admin %}data-is-gateway-admin="true"{% endif %}
  {% if project_id %}data-project-id="{{ project_id }}"{% endif %}
  {% if breadcrumbs_json %}data-breadcrumbs="{{ breadcrumbs_json }}"{% endif %}
></div>
{% endblock content %}

{% block scripts %}
{% vite_asset entry_point app="WORKSPACE" %}
{% endblock %}
